<template>
  <v-footer fixed app dark color="#045278">
    <v-spacer></v-spacer>    
      <span>&copy; RODRIGO FUENTES LANFUR 090-16-169</span>
    <v-spacer></v-spacer>    
  </v-footer>
</template>
<script>
  
</script>