<template>
  <header>
    <v-navigation-drawer v-model="drawer" clipped fixed app light>
      <v-list dense>

        <v-divider></v-divider>
        <v-list-tile @click="downFile_one()" > 
            <a href="files/example1.txt" download style="display: none" ref="fileOne"></a>           
            <v-list-tile-action>
              <v-icon>fa-file-alt</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Ejercicio 1</v-list-tile-title>
            </v-list-tile-content>
        
        </v-list-tile>
        <v-list-tile @click="downFile_two()">
          <a href="files/example2.txt" download style="display: none" ref="fileTwo"></a>
          <v-list-tile-action>
            <v-icon>fa-file-alt</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Ejercicio 2</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="downFile_three()">
          <a href="files/example3.txt" download style="display: none" ref="fileThree"></a>
          <v-list-tile-action>
            <v-icon>fa-file-alt</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Ejercicio 3</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-flex hidden-md-and-down>
      <v-toolbar app fixed clipped-left color="#045278"  dark>
          <a href="/" class="d-flex router-link-active">
            <img src="@/assets/logoBar.png" style="width:550px; height:60px;">         
          </a>  
          <v-spacer>
          </v-spacer>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      </v-toolbar>       
    </v-flex>
    <v-flex hidden-md-and-up>
      <v-toolbar app fixed clipped-left color="#045278"  dark>
          <a href="/" class="d-flex router-link-active">
            <img src="@/assets/umg2.png" style="width:50px; height:50px;">         
          </a>  
          <v-toolbar-title>UMG</v-toolbar-title>
          <v-spacer>
          </v-spacer>
          <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      </v-toolbar>       
    </v-flex>
  </header>
</template>
<script>
  export default {
    data(){
      return{
        drawer: false
      }
    },
    methods:{
      downFile_one(){
        this.$refs.fileOne.click();
      },
      downFile_two(){
        this.$refs.fileTwo.click();
      },
      downFile_three(){
        this.$refs.fileThree.click();
      }

    }

  }
</script>