<template>
  <v-container fluid>
    <v-form>
      <v-layout row wrap>
        <v-flex md7 sm12 px-1 py-1>
          <v-card height="100%" >
            <v-card-title>
              <h1>Automata AFN:</h1>
            </v-card-title>
            <!-- <v-card-text>
                    <p>{{msgAFN}}</p>              
                  </v-card-text> -->
            <v-container>
              <v-layout row wrap justify-center>
                <v-flex md8 sm12>
                  <v-layout wrap>
                    <v-flex md6 sm12>
  
                      <v-text-field box label="Archivo .txt" @click="pickFile()" v-model="txtName" prepend-icon='fa-file-upload'></v-text-field>
                      <input type="file" style="display: none" ref="fileInput" @change="processFile($event)">
                    </v-flex>
                    <v-flex md6 sm12>
                      <v-btn px-0 large color="success" @click="runFile()">Run</v-btn>
                      <v-btn px-0 large color="info" @click="cleanFile()">Clean</v-btn>
                    </v-flex>
                  </v-layout>
                  <v-textarea box prepend-icon='fa-file-signature' name="input-2-1" :label="txtName" :value="txtDataAfn" hint='Representacion de la quintupla AFN.' style="margin-right:1rem;"></v-textarea>
                </v-flex>
                <v-flex md4 sm12>
                  <v-layout row>
                    <v-layout column align-center>
                      <v-flex>
                        <v-chip label :color="colorBox" text-color="white">
                          <strong>Q</strong>&nbsp;
                        </v-chip>
                      </v-flex>
                      <v-flex v-for="(value,index) in automataAFN.estados" :key="index">
                        <v-chip label :color="colorSubBox" text-color="white">
                          <span>{{value}}</span>
                        </v-chip>
                      </v-flex>
                    </v-layout>
                    <v-layout column align-center>
                      <v-flex>
                        <v-chip label :color="colorBox" text-color="white">
                          <strong>F</strong>&nbsp;
                        </v-chip>
                      </v-flex>
                      <v-flex v-for="(value,index) in automataAFN.alfabeto" :key="index">
                        <v-chip label :color="colorSubBox" text-color="white">
                          <span>{{value}}</span>
                        </v-chip>
                      </v-flex>
                    </v-layout>
                    <v-layout column align-center>
                      <v-flex>
                        <v-chip label :color="colorBox" text-color="white">
                          <strong>A</strong>&nbsp;
                        </v-chip>
                      </v-flex>
                      <v-flex v-for="(value,index) in automataAFN.aceptacion" :key="index">
                        <v-chip label :color="colorSubBox" text-color="white">
                          <span>{{value}}</span>
                        </v-chip>
                      </v-flex>
                    </v-layout>
  
                  </v-layout>
                </v-flex>
                <v-flex>
  
                </v-flex>
              </v-layout>
              <v-layout row>
                <v-spacer></v-spacer>
                <v-flex v-if="showTable==1" class="text-md-center elevation-2">
                  <h3 style="margin-top:0px">Matriz de transición</h3>
                  <table>
                    <tr v-for="(row, index) in matrixAFN">
                      <td v-for="(item,position) in row" width="40">{{item["value"]}}</td>
                    </tr>
                  </table>
                </v-flex>
                <v-spacer></v-spacer>
              </v-layout>
            </v-container>
          </v-card>
        </v-flex>
        <v-flex md5 sm12 px-1 py-1 >
          <v-card height="100%">
            <v-card-title>
              <h1>Automata AFD:</h1>
            </v-card-title>
            <!-- <v-card-text>
                    <p>{{msgAFD}}</p>              
                  </v-card-text> -->
            <!-- TABLA AFD  -->
            <v-layout row v-if="showTable==1">
              <v-spacer></v-spacer>
              <v-flex  class="text-md-center elevation-2" mb-2>
                <h3 style="margin-top:0px;">Matriz de transición</h3>
                <table>
                  <tr v-for="(row, index) in matrixAFD">
                    <td v-for="(item,position) in row" width="40">{{item["value"]}}</td>
                  </tr>
                </table>
              </v-flex>
              <v-spacer></v-spacer>
            </v-layout>
            <!-- VALIDACION -->
            <v-container v-if="showTable==1">
              <v-layout column>
                <v-flex>
                  <v-text-field label="Cadena de validación" 
                    box
                    :success="successString"
                    prepend-icon="fa-user-secret"                     
                    :error-messages="errorString"
                    v-model="stringAFD"
                    ></v-text-field>
                </v-flex>
                <v-flex>
                  <v-textarea
                    box
                    prepend-icon='fa-file-signature'
                    name="input-7-1"
                    label="Quintupla AFD:"
                    :value="txtDataAfd"
                    hint="Representacion de la quintupla AFD."
                    readonly                    
                  ></v-textarea>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card>  
        </v-flex>  
      </v-layout>
    </v-form>
    <v-layout>
      <v-flex>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    name: "automata",
    props: {
      msg: String
    },
    data() {
      return {
        message: "",
        txtDataAfn: "",
        txtDataAfd: "",
        txtName: "",
        someFile: "",
        colorBox: "blue-grey  darken-2",
        colorSubBox: "teal lighten-1",
        automataAFN: {
          estados: [],
          alfabeto: [],
          inicial: [],
          aceptacion: [],
          funcionT: []
        },
        automataAFD: {
          estados: [],
          alfabeto: [],
          inicial: [],
          aceptacion: [],
          funcionT: []
        },
        msgAFN: "Un autómata finito no determinista (abreviado AFND) es un autómata finito que," +
          " a diferencia de los autómatas finitos deterministas (AFD), posee al menos un estado q ∈ Q, tal que para un símbolo a ∈ Σ del alfabeto, existe más de una transición δ(q,a) posible.",
        msgAFD: "Es el autómata finito que tiene todas sus transiciones no vacías y que por cada símbolo desde un estado de origen se llega a un único estado destino.",
        matrixAFN: [],
        showTable: 0,
        index_e: 0,
        index_comp: 0,
        errorString:[],
        stringAFD:"",
        successString:false
      };
    },
    methods: {
      pickFile() {
        this.$refs.fileInput.click();
      },
      processFile(event) {
        var reader = new FileReader();
        let p_file = event.target.files[0];
        this.txtName = event.target.files[0].name;
        // console.log(p_file);
        reader.onload =
          function(event) {
            window.txtDataAfn = event.target.result;
            // console.log("reader.onload", event.target.result);
          };
        if (p_file != undefined) {
          reader.readAsText(p_file);
        }
      },
      runFile() {        
        this.txtDataAfn = window.txtDataAfn;
        console.log("RUN:", this.txtDataAfn);
        this.createAutomata();          
      },
      cleanFile() {
        const input = this.$refs.fileInput;
        input.type = "text";
        input.type = "file";
        this.txtDataAfn = "";
        this.txtName = "";
        window.txtDataAfn = "";
        this.automataAFN = {
          estados: [],
          alfabeto: [],
          inicial: [],
          aceptacion: [],
          funcionT: []
        }
        this.showTable = 0
        this.automataAFD = {
          estados: [],
          alfabeto: [],
          inicial: [],
          aceptacion: [],
          funcionT: []
        }
        this.successString =false
        this.errorString = []
        this.txtDataAfd = ""
        this.stringAFD = ""
        this.matrixAFD = []
        this.matrixAFN = []
      },
      createAutomata() {
        let split_arrData = [];
        let formatData = [];
        let parseString = "";
        split_arrData = this.$_.split(this.txtDataAfn, "\n");
  
        for (var element in split_arrData) {
          //console.log("---------");
          split_arrData[element] = this.$_.replace(
            split_arrData[element],
            "=",
            ""
          );
          split_arrData[element] = this.$_.replace(
            split_arrData[element],
            "{",
            ""
          );
          split_arrData[element] = this.$_.replace(
            split_arrData[element],
            "}",
            ""
          );
          split_arrData[element] = this.$_.replace(
            split_arrData[element],
            "\r",
            ""
          );
          //console.log("format:",split_arrData[element]);
          parseString = split_arrData[element].slice(1);
          //console.log("parseString:",parseString);
          switch (split_arrData[element][0]) {
            case "Q":
              this.automataAFN.estados = this.$_.split(parseString, ",");
              break;
            case "F":
              this.automataAFN.alfabeto = this.$_.split(parseString, ",");
              break;
            case "i":
              this.automataAFN.inicial = this.$_.split(parseString, ",");
              break;
            case "A":
              this.automataAFN.aceptacion = this.$_.split(parseString, ",");
              break;
            case "W":
            case "w":
              parseString = parseString.split("),(");
              parseString = this.$_.map(parseString, this.func_parseString_W);
              this.automataAFN.funcionT = parseString;
              break;
            default:
          }
        }
  
        this.createAfnTable();
        this.createAfdTable();
        this.createAfdQuintupla();
      },
      func_parseString_W(item) {
        let format = this.$_.replace(item, "(", "");
        format = this.$_.replace(format, ")", "");
        format = this.$_.split(format, ",");
        //console.log(format);
        return format;
      },
      createAfnTable() {
        let funcionT = this.automataAFN.funcionT
        let estados = this.automataAFN.estados
        let alfabeto = this.automataAFN.alfabeto
        let header = this.$_.concat(alfabeto, "e")
        let matrixAFN = []
  
        let column = 0
        let row = 0
        let value = 0
        this.showTable = 1;
        header.unshift(" ")
        // console.log(header)
  
        //Establecer albabeto
        matrixAFN.push([])
        for (var indice = 0; indice < header.length; indice++) {
          matrixAFN[0].push({
            value: "-"
          })
          matrixAFN[0][indice].value = header[indice]
  
        }
        //Establecer Estados
        for (var indice = 1; indice <= estados.length; indice++) {
          matrixAFN.push([])
          for (var count = 0; count < header.length; count++) {
  
            if (count == 0) {
              matrixAFN[indice].push({
                value: estados[indice - 1]
              })
            } else {
              matrixAFN[indice].push({
                value: "-"
              })
            }
  
          }
        }
        //Establecer Estados con su respectivo alfabeto
        for (var indiceFT = 0; indiceFT < funcionT.length; indiceFT++) {
          row = this.$_.indexOf(estados, funcionT[indiceFT][0]) + 1; //Se suma uno por que lo estados inician desde la posicion matrixAFN[0][1]  
          column = this.$_.indexOf(header, funcionT[indiceFT][1]);
          value = funcionT[indiceFT][2]
          //Buscando la columna del alfabeto
          if (matrixAFN[row][column].value == "-") {
            matrixAFN[row][column].value = value
          } else {
            let prev_value = matrixAFN[row][column].value
            matrixAFN[row][column].value = prev_value.concat("," + value)
          }
        }
        this.matrixAFN = matrixAFN
        console.log("MatrizAFN:", matrixAFN);
  
      },
      createAfdTable() {
        let letters = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T']
        let matrixAFN = this.matrixAFN
        let inicialState = this.automataAFN.inicial[0]
        let alfabeto = this.automataAFN.alfabeto
        this.automataAFD.alfabeto = alfabeto 
        let headerAFD = this.$_.concat(alfabeto, "Composicion")
        let headerAFN = this.$_.concat(alfabeto, "e")
        let matrixAFD = []        
        let currState = 0
        let index_e = 0
        let index_comp = 0
        let index_state = 0
        headerAFD.unshift(" ")
        headerAFN.unshift(" ")
        //Establecer albabeto
        matrixAFD.push([])
        for (var indice = 0; indice < headerAFD.length; indice++) {
          matrixAFD[0].push({
            value: "-"
          })
          matrixAFD[0][indice].value = headerAFD[indice]
  
        }
        //---------------Establecer la MatrizAFD con estados y composiciones
  
        //Establezco el indice de e y comp local y global
        index_e = this.$_.indexOf(headerAFN, "e");
        index_comp = this.$_.indexOf(headerAFD, "Composicion");
        this.index_e = index_e
        this.index_comp = index_comp
        //Configurar Fila 1
        for (var index_row = 1; index_row <= 1; index_row++) {
          matrixAFD.push([])
          //cantidad de columnas
          for (var index_col = 0; index_col < headerAFD.length; index_col++) {
            //indice columna estado
            if (index_col == 0) {
              matrixAFD[index_row].push({
                value: letters[currState]
              })
            }
            //indice columna composicion
            else if (headerAFN[index_col] == "e") {
              let state = matrixAFN[index_row][index_state].value

              if(matrixAFN[index_row][index_e].value == "-"){
                matrixAFD[index_row].push({
                  value: state
                })  

              }else{                
                let result_ce = this.cerradura_e(matrixAFN[index_row][index_e].value)  
                result_ce = this.$_.concat(result_ce, state)
                result_ce = this.orderAndUnique(result_ce)
                matrixAFD[index_row].push({
                  value: result_ce
                })                  
              }
              
            }
            //indice columna alfabeto
            else {
              matrixAFD[index_row].push({
                value: "-"
              })
            }
  
          }
          currState++;
        }
        
        //SE REALIZA EL PRIMER PROCESO matrixAFD.length
        for(var index_row=1; index_row < matrixAFD.length ;index_row++){
          
          let state_letter = matrixAFD[index_row][0].value
          let value_e = matrixAFD[index_row][index_e].value
          for(var index_alf=0;index_alf < alfabeto.length;index_alf++){
            console.log("--------------------------------------------------------------------");
            let result_mu = this.mueve(value_e, alfabeto[index_alf])
            let cerradura_e = this.cerradura_e(result_mu)
            console.log("fila:", index_row +"->"+value_e);         
            console.log("---composition:"+value_e +"----alfabeto:"+ alfabeto[index_alf]);
            console.log("MUEVE:", result_mu);
            console.log("CERRADURA:", cerradura_e);
            //Verifica si la composicion existe - retorna falso o Estado encontrado
            let exist_state = this.existComposition(cerradura_e,matrixAFD) 

            if(exist_state){
              //Asigna estado al alfabeto (A,a,B)
              matrixAFD[index_row][index_alf + 1].value = exist_state
            }
            else{
              let lastRow = 0
              //crea un fila de la matriz
              matrixAFD.push([])
              lastRow = matrixAFD.length - 1
              //Creo estado 
              matrixAFD[lastRow].push({
                value: letters[currState]
              })
              //Creo alfabeto
              for(var col=1; col <= alfabeto.length; col++ ){
                matrixAFD[lastRow].push({
                  value: "-"
                })
              }
              //Creo composicion              
              matrixAFD[lastRow].push({
                  value: cerradura_e
              })
              
              //Asigna estado al alfabeto (A,a,B)
              matrixAFD[index_row][index_alf + 1].value = letters[currState]
              //Mueve la posicion del arreglo de letras
              currState++              
              console.log("Muestra matriz",matrixAFD);

            }
          }          
          
        }

          
  
        this.matrixAFD = matrixAFD
        console.log("MatrizAFD:", matrixAFD);
      },
      cerradura_e(value) {
        let matrixAFN = this.matrixAFN
        let arrEstados = this.$_.split(value, ",");
        let index_e = this.index_e
        let index_comp = this.index_comp
        let running = true;
        let value_e = "";
        let prevent_looping = 0;
        //Buscar estado en la matriz AFN
        for (var indexArr = 0; indexArr < arrEstados.length; indexArr++) {
          // console.log(" ------------ENTRA AL CICLO FOR");
          let index_row = 1
          if(prevent_looping < 10){

            while (running) {
              if (index_row < matrixAFN.length - 1) {
                // console.log("index_row:",index_row);
                // console.log("arrEstadosindex:",arrEstados[indexArr]);
    
                if (matrixAFN[index_row][0].value == arrEstados[indexArr]) {
                  // console.log("----------Entra estado:",arrEstados[indexArr]);
                  value_e = matrixAFN[index_row][index_e].value
                  // console.log("----------value_e",value_e);
                  if (value_e == "-") {
                    running = false
    
                  } else {
                    let result = this.$_.split(value_e, ",");
                    arrEstados = this.$_.concat(arrEstados, result);
                    prevent_looping++;
                    // console.log("arrEstados:",arrEstados);
                  }
                }
                //suma contador
                index_row++;
              } else {
                running = false
              }
            }
            running = true

          }
        }
  
        arrEstados = this.orderAndUnique(arrEstados)
        return arrEstados;
      },
      mueve(arrState, alfabeto) {
        let matrixAFN = this.matrixAFN
        let headerAFN = this.automataAFN.alfabeto
        let result_mu = []
        arrState = this.$_.split(arrState, ",");
        let running = true;
        let index_col = 0
        let index_alf = this.$_.indexOf(headerAFN, alfabeto) + 1
        for (var indexArr = 0; indexArr < arrState.length; indexArr++) {
          let index_row = 1
          while (running) {
            if (index_row < matrixAFN.length) {
  
              if (matrixAFN[index_row][index_col].value == arrState[indexArr]) {
  
                let valueByAlfabet = matrixAFN[index_row][index_alf].value
                //console.log("ENTRA:", valueByAlfabet);
                // console.log("----------value_e",value_e);
                if (valueByAlfabet == "-") {
                  running = false
  
                } else {
                  result_mu.push(valueByAlfabet)
                  // console.log("arrEstados:",arrEstados);
                }
              }
              //suma contador
              index_row++;
            } else {
              running = false
            }
          }
          running = true
        }
        if(result_mu.length > 0){
          result_mu = this.orderAndUnique(result_mu)
        }
        else{
          result_mu = "-"
        }
        return result_mu
      },
      createAfdQuintupla(){
        let matrixAFN = this.matrixAFN
        let matrixAFD = this.matrixAFD
        let aceptacionAFN  = this.automataAFN.aceptacion
      
        let lastRow = matrixAFN.length-1
        let firstColumn = 0
        let estados     =   []
        let alfabeto    =  this.automataAFN.alfabeto
        let inicial     = matrixAFD[1][0].value
        let aceptacion  = []
        let funcionT    = []

        let index_comp = this.index_comp

        //Estado de aceptacion
        for(let indexAce = 0; indexAce < aceptacionAFN.length;indexAce++){
          
          for(let indexRow = 1;indexRow < matrixAFD.length;indexRow++){
            
            let composition = matrixAFD[indexRow][index_comp].value
            let currState =  aceptacionAFN[indexAce]
            if(composition != "-"){

              let existStateInComposition = this.searchStateInComposition(currState,composition)  
              if(existStateInComposition){
                aceptacion.push(matrixAFD[indexRow][firstColumn].value)         
              }

            }
            
          }
          
        }

        //Estableciendo Estados
        for(let indexRow = 1 ; indexRow < matrixAFD.length ; indexRow++ ){
            estados.push(matrixAFD[indexRow][firstColumn].value)
        }
        //Estableciendo W
        for(let indexRow = 1 ; indexRow < matrixAFD.length ; indexRow++ ){
            for(let indexCol = 0 ; indexCol < alfabeto.length;indexCol++){              
              funcionT.push(matrixAFD[indexRow][0].value+","+alfabeto[indexCol]+","+matrixAFD[indexRow][indexCol+1].value)
            }
        }
        //Estableciendo Variables Globales
        this.automataAFD.estados     = estados
        this.automataAFD.alfabeto    = alfabeto
        this.automataAFD.inicial     = inicial
        this.automataAFD.aceptacion  = aceptacion
        this.automataAFD.funcionT    = funcionT
        this.showTxtDataAFD()
      },
      orderAndUnique(value) {        
        let unique = this.$_.uniq(value)
        let order = this.$_(unique).sort()
        order = this.$_.sortBy(unique, function(item) {
          return parseInt(item, 10)
        });
        let string = this.$_.join(order, ',')
        return string;
      },
      existComposition(value,matrixAFD){
        let index_comp = this.index_comp
        let result = false
        for(var index_row = 1;index_row < matrixAFD.length; index_row++){
          // console.log("index_comp:",index_comp);
          // console.log("composition_m:",matrixAFD[index_row][index_comp].value);
          // console.log("composition_v:",value);
          if(matrixAFD[index_row][index_comp].value == value){
            //Devuelve el Estado encontrado
            result = matrixAFD[index_row][0].value
          }
        }
        // console.log("existComposition:",result);
        return result

      },
      searchStateInComposition(state,composition){
        let arrComposition = []
        let result = false
        
        arrComposition = composition.split(",")

        for(let index=0;index < arrComposition.length;index++){
          if(arrComposition[index]==state){
            result = true
          }
        }
        return result;
      },
      showTxtDataAFD(){
        let estados     = this.automataAFD.estados
        let alfabeto    = this.automataAFD.alfabeto
        let inicial     = this.automataAFD.inicial
        let aceptacion  = this.automataAFD.aceptacion
        let funcionT    = this.automataAFD.funcionT
        let txt_W = "W={"
        estados   = this.orderAndUnique(estados)
        alfabeto  = this.orderAndUnique(alfabeto)
        aceptacion  = this.orderAndUnique(aceptacion)

        estados = "Q={"+estados+"}"
        alfabeto = "F={"+alfabeto+"}"
        inicial = "i="+inicial
        aceptacion = "A={"+aceptacion+"}"

        for(let index=0;index < funcionT.length;index++){
          if(index == funcionT.length-1){
            //ultimo sin coma
            txt_W += "("+funcionT[index]+")"
          }else{
            txt_W += "("+funcionT[index]+"),"
          }
        }
        txt_W += "}"
        this.txtDataAfd = estados +"\n"+alfabeto+"\n"+inicial+"\n"+aceptacion+"\n"+txt_W
        // console.log(estados);
        // console.log(alfabeto);
        // console.log(inicial);
        // console.log(aceptacion);
        // console.log(funcionT);
        
      }
    },
    watch:{
      stringAFD :function(value) {
        let estadosAFD  = this.automataAFD.estados
        let acceptState = this.automataAFD.aceptacion
        let matrixAFD   = this.matrixAFD 
        let string      = this.stringAFD
        let headerAFD   = this.automataAFD.alfabeto
        let indexState = 1
        // console.log("------------------------");
        if(value !=""){
          for(let index = 0; index < string.length;index++){
            let index_alfa = this.$_.indexOf(headerAFD, string[index]) + 1 ;
            // console.log("index_alf:",index_alfa);
            let curr_state = matrixAFD[indexState][index_alfa].value
            for(let indexAc = 0; indexAc < acceptState.length;indexAc++){
              // console.log("curr_state:",curr_state);
              if(curr_state == acceptState[indexAc] ){
                // console.log("aceptacion");
                this.errorString = []
                this.successString = true
                break
              }else{
                this.errorString = ["No aceptado"]
              }
            }
            indexState = this.$_.indexOf(estadosAFD, curr_state) + 1
            // console.log("indexState:",indexState);
          }          
        }else{
          this.errorString = []
          this.successString = false
        }
        // console.log(string)
      }
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 0 10px;
  }
  
  a {
    color: #42b983;
  }
  
  table {
    font-weight: bold;
    font-size: medium;
    width: 100%;
  }
  
  th,
  td {
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .container td,
  .container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
  }
  
  
  /* Background-color of the odd rows */
  
  .container tr:nth-child(odd) {
    background-color: #C5CAE9;
  }
  
  
  /* Background-color of the even rows */
  
  .container tr:nth-child(even) {
    background-color: #E8EAF6;
  }
  
  .container th {
    background-color: #f2f2f2;
  }
  
  .container td:first-child {
    color: white;
    background-color: #045278;
  }
  
  .container tr:first-child {
    color: white;
    background-color: #045278;
  }
</style>
