<template>
  <v-app>
    <app-header>
    </app-header>
    <v-content>
      <automata/>
    </v-content>
    <app-footer>
    </app-footer>
  </v-app>
</template> 

<script>
import appFooter from './components/base/appFooter'
import appHeader from './components/base/appHeader'
import automata from './components/automata'

export default {
  name: 'App',
  components: {
    appFooter,
    appHeader,
    automata
  },
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'fas fa-shapes',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'AUTOMATA'
    }
  }
}
</script>
<style>
body {
      color: #6B6B6B !important;
      font-family: Verdana,Arial,Helvetica,sans-serif !important;
      font-size: 12px !important;
    }
</style>
